.filter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
  background-color: #231F20;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.left {
  padding: 20px;
  padding-left: 30px;
}

.right a {
  color: #fff;
  font-size: 25px;
  text-decoration: none;
  padding: 20px;
  transition: 1s;
  padding-right: 30px;
}
.right a:hover {
  color: #1f6eeb;
  transition: 1s;
}

body {
  margin: 0;
  background-color: #2E292A;
}

.fit {
  display: block;
  margin: 0 auto;
  transition: 0.3s;
  object-fit: cover;
  border-radius: 50%;
}

.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-size: 25px;
  text-decoration: none;
  padding-bottom: 200px;
  position: relative;
  top: 120px;
}
.middle .big {
  padding-top: 10px;
  color: #fff;
  font-size: 40px;
  text-decoration: none;
}

.quote {
  background-color: #1f6eeb;
  color: #fff;
  color: #fff;
  font-size: 25px;
  text-decoration: none;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  display: flex;
  justify-content: baseline;
  align-items: center;
  flex-direction: column;
}
.quote i {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

.links {
  color: #fff;
  font-size: 25px;
  text-decoration: none;
}
.links :hover {
  transition: 1s;
  color: #1f6eeb;
  font-size: 25px;
  text-decoration: none;
  cursor: pointer;
}

.pics {
  width: 100px;
}

.about {
  padding-top: 50px;
  color: #fff;
  font-size: 25px;
  text-decoration: none;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1f6eeb;
  font-size: 20px;
  text-decoration: none;
}

table {
  padding-top: 50px;
  width: 100%;
}

td, th {
  text-align: left;
  padding: 8px;
  width: 50%;
}

.line {
  color: #1f6eeb;
  width: 300px;
}

.text {
  color: #fff;
  text-align: center;
  padding-top: 15px;
}

@media only screen and (max-width: 1920px) {
  .filter {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header {
    width: 100%;
    background-color: #231F20;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
  }
  .left {
    padding: 20px;
    padding-left: 30px;
  }
  .right a {
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    padding: 20px;
    transition: 1s;
    padding-right: 30px;
  }
  .right a:hover {
    color: #1f6eeb;
    transition: 1s;
  }
  body {
    margin: 0;
    background-color: #2E292A;
  }
  .fit {
    display: block;
    margin: 0 auto;
    transition: 0.3s;
    object-fit: cover;
    border-radius: 50%;
  }
  .middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    padding-bottom: 200px;
    position: relative;
    top: 120px;
  }
  .middle .big {
    padding-top: 10px;
    color: #fff;
    font-size: 40px;
    text-decoration: none;
  }
  .quote {
    background-color: #1f6eeb;
    color: #fff;
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .quote i {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
  }
  .links {
    color: #fff;
    font-size: 25px;
    text-decoration: none;
  }
  .links :hover {
    transition: 1s;
    color: #1f6eeb;
    font-size: 25px;
    text-decoration: none;
    cursor: pointer;
  }
  .pics {
    width: 100px;
  }
  .about {
    padding-top: 50px;
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
  }
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1f6eeb;
    font-size: 40px;
    text-decoration: none;
  }
  .line {
    color: #1f6eeb;
    width: 300px;
  }
}
@media only screen and (max-width: 435px) {
  .filter {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header {
    width: 100%;
    background-color: #231F20;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
  }
  .left {
    padding: 20px;
    padding-left: 30px;
  }
  .right a {
    color: #fff;
    font-size: 12.5px;
    text-decoration: none;
    padding: 10px;
    transition: 1s;
    padding-right: 30px;
  }
  .right a:hover {
    color: #1f6eeb;
    transition: 1s;
  }
  body {
    margin: 0;
    background-color: #2E292A;
  }
  .fit {
    display: block;
    margin: 0 auto;
    transition: 0.3s;
    object-fit: cover;
    border-radius: 50%;
  }
  .middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    padding-bottom: 200px;
    position: relative;
    top: 120px;
  }
  .middle .big {
    padding-top: 10px;
    color: #fff;
    font-size: 40px;
    text-decoration: none;
  }
  .quote {
    background-color: #1f6eeb;
    color: #fff;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: column;
  }
  .quote i {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
  }
  .links {
    color: #fff;
    font-size: 25px;
    text-decoration: none;
  }
  .links :hover {
    transition: 1s;
    color: #1f6eeb;
    font-size: 25px;
    text-decoration: none;
    cursor: pointer;
  }
  .pics {
    width: 65px;
  }
  .about {
    padding-top: 50px;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
  }
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1f6eeb;
    font-size: 30px;
    text-decoration: none;
  }
  .line {
    color: #1f6eeb;
    width: 125px;
  }
}

/*# sourceMappingURL=style.css.map */
